@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bangers&family=Cairo:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,500&family=Lato:wght@300;400;700&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Slab:wght@500&family=Roboto:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bangers&family=Cairo:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,500&family=Lato:wght@300;400;700&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Slab:wght@500&family=Roboto:wght@100;300;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bangers&family=Cairo:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,500&family=Lato:wght@300;400;700&family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Ms+Madi&family=Open+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto+Slab:wght@500&family=Roboto:wght@100;300;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;

}

header {
    width: 100%;
    height: 25rem;
    background-color: #6521FF;

}

.nav-bar {
    height: 3rem;
    background-color: #6521FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 10rem;
}

.logo h1 {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    cursor: pointer;

}

.logo a {
    text-decoration: none;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    align-items: center;

}

.nav-bar ul a:hover {
    color: #FFA000;
    border-bottom: 2px solid #FFA000;
}

.nav-bar ul li {
    padding: 0.8rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.header-add {
    flex-direction: column;
    padding: 7rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: -50px;

}

h1,
h2 {
    color: #373737;
}

.header-add h2 {
    display: block;
    color: white;
    padding-bottom: 10px;
}

.header-btn a {
    background-color: #FFA000;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 7px;
    margin-top: 20px;
    display: block;
    transition: 0.5s;
}

.header-btn a:hover {
    background-color: black;
}

.main-sec {
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.main-right-sec img {
    width: 40rem;
}

.main-left-sec {
    width: 50%;
    padding: 5rem 3rem;
}

.main-left-sec-txt {
    width: 100%;
}

.main-left-sec-txt h1 {
    font-weight: 600;
    color: #2F2F2F;
    font-size: 2.6rem;
    padding: 0.2rem 0;
    font-family: "Roboto", sans-serif;
}

.main-left-sec-txt p {
    color: #2F2F2F;
    padding: 0.9rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

.main-left-sec-btn {
    display: flex;
    flex-direction: column;
    width: 14rem;
}

.main-left-sec-btn a:hover {
    background-color: #2F2F2F;
}

.main-left-sec-btn a {
    text-decoration: none;
    background-color: #FFA000;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 800;
    margin: 0.6rem 0;
    text-align: center;
}

.videos-sec {
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEEF2;
}

.videos-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.video {
    background-color: white;
    width: 30%;
    height: 92%;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 10px 10px #8888886e;
    transition: 0.5s;
}

.video:hover {
    width: 31%;
    height: 93%;
}

.video-img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.video-details {
    height: 16.5rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    margin-top: -6px;
}

.video-details h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 0.6rem 0;

}

.video-details p {
    padding: 0.2rem 0;
    font-weight: 500;

}

.video-date {
    color: #797979;
}

.video-btn a {
    text-decoration: none;
    color: white;
    background-color: #2F2F2F;
    padding: 20px;
    margin-top: 10px;
    border-radius: 2px;
    display: block;
    transition: 0.2s;
}

.video-btn a:hover {
    background-color: #636363;
}

.videos-sec h1 {
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0;
}

.vectors-sec {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.vectors-sec h1 {
    font-weight: 800;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0;
}

.vectors-container {
    height: 100%;
    width: 60%;
}

.vector {
    width: 100%;
    height: 21%;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.vector img {
    width: 15rem;
    padding-right: 10px;
}

.about {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/headerimg.png);
    background-size: cover;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.about-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}

.about-txt h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.about-txt p {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 80px;
}

.about-icons i {
    color: #FFA000;
    font-size: 3rem;
    padding: 0 1em;
}

.constructor-sec {
    width: 100%;
    height: 70vh;
    background-image: url(imgs/tra-nguyen-TVSRWmnW8Us-unsplash.jpg);
    background-size: cover;
    background-position: 50%;
    background-position: center;
}

.email-sec {
    width: 100%;
    height: 50vh;
    background-image: url(imgs/pexels-merry-zar-2306359.jpg);
    background-size: cover;
    background-position: center;
}

.email-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.email-container p {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    padding-bottom: 1.5rem;

}

.info {
    display: flex;
    align-items: center;
}

.info input {
    padding: 15px;
    width: 30em;
    border-radius: 3px;
    border: 0;
}

.info input:focus {
    outline: none;
}

.info a {
    text-decoration: none;
    color: white;
    background-color: #777777;
    padding: 10px;
    margin-left: 10px;
    border-radius: 3px;

}

footer {
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(41, 40, 40, 0.9), rgba(27, 27, 27, 0.9)), url(imgs/6697662.jpg);
    background-size: cover;
    background-position: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 5rem 6rem;
    color: white;
    height: 100%;
}

.left-icons {
    display: flex;
}

.left-icons i {
    padding-right: 10px;
    font-size: 2rem;
}

.right-icons {
    display: flex;

}

.right-icons i {
    padding-right: 10px;
    font-size: 2rem;
}

.footer-mid p {
    text-align: center;
    font-size: 0.7rem;
    padding: 0 2rem;
}

.login-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}


.login-sec p {
    color: #fff;
}

.login-container {
    background-color: #6521FF;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;
    border-radius: 10px;
}

.login-container h2 {
    font-family: 'Ms Madi', cursive;
    font-size: 4rem;
    margin-bottom: 60px;
    color: white;
}

#welcome {
    padding-bottom: 30px;
}

.login-input input {
    padding: 15px;
    width: 100%;
    border: none;
    margin-bottom: 10px;

}

.login-input input:focus {
    outline: none;
    border-bottom: 2px solid sandybrown;
}

#signin-btn {
    text-decoration: none;
    background-color: #FFA000;
    padding: 5px 40px;
    color: white;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.google {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#or {
    padding: 20px 0;
}

.google p {
    font-size: 1rem;
    padding: 0 5px;
}

.google i {
    font-size: 1rem;
    color: bisque;
}

.new {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    padding: 20px;
}

.new a {
    color: #00ffd5;
    padding: 0 5px;
}

#by {
    font-size: 1rem;
    padding: 20px 0;
    text-align: center;
}

#by a {
    color: #FFA000;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.login-container {
    animation: 0.4s ease-out 0s 1 slideInLeft;


}